---
import Card from '@/components/Card.astro';
import Panel from '@/components/Panel.astro';
import Promotion from '@/components/Promotion.astro';
import Price from '@/components/Promotion.astro';
import Layout from '@/layouts/Layout.astro';

const PanelText = `Pro-TF es una proteína de suero de leche y huevo de alto rendimiento, sometida 
        a pruebas independientes y universitarias y diseñada para respaldar tu transformación corporal—sin 
        importar cuál sea tu meta de acondicionamiento físico. `;

const featuresPanelProTF = [
        "Promueve la musculatura magra y la capacidad del cuerpo para quemar grasa",
        "Proporciona 20 g de proteína por porción",
        "Respalda el control de peso en combinación con una dieta sana y ejercicio",
        "Incluye aminoácidos de cadena ramificada BCAA en una proporción de 2:1:1.",
        "Activa el sistema inmunitario en el transcurso de dos horas con 4Life Transfer Factor",
        "Cada gramo de la mezcla proteínica Pro-TF es superior en cuanto a quemar grasa y metabolizar los macronutrientes"
      ]

const tfBoost= `Este producto, exclusivo de 4Life, contiene vitamina C, D, B2 y zinc. 
        Ingredientes que hacen ser a 4Life TF-Boost un gran alimento. Prueba su delicioso sabor 
        y disfruta de todos sus beneficios. Contiene: <strong>Excelente fuente de vitamina C, D, B2 y zinc.
        Además de 1000 mg de la mezcla Transfer Factor</strong>`;

const tfCollagen= `Es una deliciosa y refrescante bebida que contiene colágeno y péptidos de 
        colágeno obtenidos a partir de fuentes naturales. Además de ser una formula exclusiva de 4Life;
        es una bebida rica en vitamina A y vitamina C. Contine vitamina E, así como colores y sabores
        naturales. <strong>Excelente fuente de vitamina A y C. Buena fuente de vitamina E.</strong>`;

const tfFiber= `Fibre System es una mezcla nutricional y herbal, muy útil para el bienestar del 
        organismo. Combina los beneficios nutricionales del psyllium, cáscara sagrada, nuez negra, genciana,
        arándano, ciruela pasa, papaya y piña, entre otros. 
        <strong> Contiene 25 ingredientes herbales que benefician a tu organismo. </strong>`;

const tfPlustext= `La fórmula exclusiva 4Life Transfer Factor Plus brinda el máximo nivel de 
        nuestros ingredientes patentados. 
        Una ingesta adecuada de Zinc ayuda a fortalecer las defensas del organismo, 
        4Life Transfer Factor Plus aporta <strong>22% del VDR de zinc por cápsula.</strong>`;

const BCVtext= `Con el respaldo nutricional de 4Life® y las bondades de la Vitamina A, la Vitamina C, 
        la Vitamina E, Niacina, Vitamina B6, Vitamina B12, Potasio, Zinc, el Ácido Fólico, Magnesio, selenio, 
        cobre y nutrientes de fuente vegetal. El producto Transfer Factor BCV+ contiene 2.24 mg de tiamina. <strong>La Tiamina (Vitamina B1) 
        puede contribuir a la salud del corazón.</strong>`;

const renuvoText= `4Life Transfer Factor Renuvo contiene la exclusiva fórmula trifactor, vitaminas 
        y minerales como Zinc, Vitamina D3, así como otros nutrientes de origen natural que contribuyen a  fortalecer el sistema inmune.  
        Contiene <strong>30% del VDR de vitamina D3</strong>  por porción además de 
        7,4 mg de zinc equivalente a <strong>49% del VDR de zinc</strong> por porción.`;
---

<Layout title="productos">

  <div class="grid grid-cols-2 grid-flow-rows">
    <div>
      <h1>4Life TRansfer Factor</h1>
    </div>
  </div>
  <div class="w-full">
    <div class="embed-container">
      <iframe class="w-full" style=""  src="https://player.vimeo.com/video/891604946?h=2aac511a0e&amp;autoplay=1&amp;loop=1&amp;background=1"  allow="autoplay; encrypted-media" data-ready="true"></iframe>
      </div>
      <div class=" absolute items-center  lg:inset-x-1/3 inset-x-1/4 xl:top-1/4 lg:top-24  top-10 lg:flex hidden">
        <div class="bg-slate-800/20 p-4 text-white rounded-lg md:text-xl text-xs m-6 text-left">
          <h1>4Life Transfer Factor<sup>®</sup> ha demostrado clínicamente <strong>activar el sistema inmunitario</strong> en el transcurso de dos horas.</h1>
          <div class="bg-blue-600/50 w-max rounded-full xs:p-4 p-3  xs:m-4 m-1">
            <a data-navlink="home banner | video-banner" class="cta fake-btn" href="#" aria-hidden="false">Compra ya</a>
          </div>
        </div>
      </div>
  </div>
  <Promotion 
    title='Hola' 
    description='oadbnjskandas'
    features = {["coas"]} 
   />
   <Panel 
    rightLeft={true}
    title='Pro-TF'
    description={PanelText}
    image='protf_splash.png'
    features={ featuresPanelProTF}
   />
  <div class="mx-auto max-w-7xl py-12 lg:py-24">
    <ul role="list" class="grid gap-4 md:grid-cols-3 grid-cols-1">
      <Card
        href="https://wa.me/message/ABKXRQ35EGAKH1"
        image='tf_plus.png'
        title="4Life® Transfer Factor Plus™ Tri-Factor® Formula"
        body={tfPlustext}
        price="$188.800"
        prevPrice="$251.700"
      />
      <Card
        href="https://wa.me/message/ABKXRQ35EGAKH1"
        image='tf_bcv.png'
        title="4Life Transfer Factor® BCV+"
        body={BCVtext}
        price="$154.000"
        prevPrice="$188.000"
      />
      <Card
        href="https://wa.me/message/ABKXRQ35EGAKH1"
        image='tf_renuvo.png'
        title="4Life Transfer Factor Renuvo®"
        body={renuvoText}
        price="$154.000"
        prevPrice="$188.000"
      />

      <Card
        href="https://wa.me/message/ABKXRQ35EGAKH1"
        image='tf_boost.jpg'
        title="4LIFE TF-BOOST"
        body={tfBoost}
        price="$188.800"
        prevPrice="$251.700"
      />
      <Card
        href="https://wa.me/message/ABKXRQ35EGAKH1"
        image='tf_collagen.png'
        title="4Life Transfer Factor Collagen"
        body={tfCollagen}
        price="$154.000"
        prevPrice="$188.000"
      />
      <Card
        href="https://wa.me/message/ABKXRQ35EGAKH1"
        image='tf_fiber.png'
        title="Fibre System"
        body={tfFiber}
        price="$154.000"
        prevPrice="$188.000"
      />
  
    </ul>
  </div>

</Layout>

<style>
  .link-card-grid {
    display: grid;
    gap: 1rem;
    padding: 0;
    margin-bottom: 2rem;
  }
  .embed-container {
    --video--width: 1200;
    --video--height: 540;

    position: relative;
    padding-bottom: calc(var(--video--height) / var(--video--width) * 80%); /* 41.66666667% */
    overflow: hidden;
    max-width: 100%;
  }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 100%;
}

</style>
@/components/Promotion