---
import CheckIcon from '@heroicons/react/20/solid/CheckIcon';

export interface Props {
  rightLeft?: boolean;
  title: string;
  image: string;
  description: string;
  features: string[];
}

const { rightLeft = false, title, image, description, features } = Astro.props;
---

<div
  class="grid md:grid-cols-2 grid-cols-1 gap-1 text-center m-auto w-11/12 mb-10"
>
  {
    rightLeft ? (
      <>
        <div class="py-6 m-auto">
          <h1 class="text-xl text-center">{title}</h1>
          <p class="p-10 text-center" set:html={description} />
          <div class="mx-10 sm:block hidden">
            {features.map((feature) => (
              <li class="list-none text-justify my-4">
                <CheckIcon
                  className="h-6 w-5 inline text-green-600"
                  aria-hidden="true"
                />
                <p class="text-sm inline text-slate-800">{feature}</p>
              </li>
            ))}
          </div>
        </div>
        <div class="flex md:h-screen w-full justify-center items-center">
          <div class="m-auto bg-gradient-to-r" />
          <img src={image} class="w-full rounded-md" />
        </div>
      </>
    ) : (
      <>
        <div class="relative">
          <div class="absolute inset-0 bg-gradient-to-r" />
          <img src={image} class="w-full" />
        </div>
        <div class="py-6 m-auto">
          <h1 class="text-sm m-10 text-center">{title}</h1>
          <p class="text-sm m-10 text-center">{description}</p>
          <div class="mx-10 sm:block hidden">
            {features.map((feature) => (
              <li class="list-none text-center">
                <CheckIcon
                  className="h-6 w-5 inline text-indigo-600"
                  aria-hidden="true"
                />
                <p class="text-sm">{feature}</p>
              </li>
            ))}
          </div>
        </div>
      </>
    )
  }
</div>
